@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Inter", sans-serif;
}
.premium::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("./assets/SidebarIcons/Shape.svg");
    background-repeat: no-repeat;
    width: 120px;
    height: 100%;
}

.user_message{
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 20px;
}

.custom_scrollbar{

}

/* scroll bar */
::-webkit-scrollbar {
    width: 2px;
    /* Width of the scrollbar */
    height: 6px;
    /* Height of the scrollbar (for horizontal scrollbars) */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    /* Background of the scrollbar track */
    border-radius: 1px;
    /* Rounded corners for the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B6B4BA;
    /* Color of the scrollbar handle */
    border-radius: 1px;
    /* Rounded corners for the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B6B4BA;
    /* Color of the scrollbar handle when hovered */
}

/* Custom scrollbar for Mozilla Firefox */
* {
    scrollbar-width: unset;
    scrollbar-height: unset;
    /* Makes the scrollbar thinner */
    scrollbar-color: #B6B4BA ;
    /* Handle color and track color */
}

/* For Firefox scrollbar on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #B6B4BA;
    /* Color of the scrollbar handle when hovered */
}

/* scrollbar */